* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20%;
}

.position-calc, .float-calc {
  width: 415px;
  height: 640px;
  border: 4px solid #5f9d9f;
  display: inline-block;
  border-radius: 12px;
  padding: 20px 0;
  margin-top: 20px;
}

.position-calc {
  position: relative;
  margin-left: 50px;
}

.brand {
  display: block;
  height: 60px;
  font-size: 26px;
  background-color: #5f9d9f;
  color: #FFF;
  text-align: right;
  padding: 13px 15px 0 0;
}

.input-text {
  height: 60px;
  width: 390px;
  display: block;
  margin: 15px auto 11px;
  border: 4px solid #5f9d9f;
  border-radius: 10px;
  outline:none;
  text-align: right;
  color: #5f9d9f;
  font-size: 38px;
  font-family: Arial;
  padding: 5px 5px 0 5px;
}

.solar-battery {
  height: 50px;
  width: 140px;
  background-color: #5f9d9f;
  margin-bottom: 25px;
}

.key {
  width: 80px;
  height: 80px;
  border: 4px solid #5f9d9f;
  border-radius: 10px;
  color: #5f9d9f;
  text-align: center;
  line-height: 2.5;
  font-size: 30px;
  font-family: Arial;
  float: left;
  margin: 0 0 17px 18px;
  cursor: pointer;
}

.key:hover {
  background: linear-gradient(180deg, rgba(253,253,253,1) 50%, rgba(95,157,159,0.3) 100%);
}

.key:active {
  background: linear-gradient(0deg, rgba(253,253,253,1) 50%, rgba(95,157,159,0.3) 100%);
}

.float-calc .key:nth-child(4n) {
  clear: both;
}

.float-calc .solar-battery {
  float: right;
  margin-right: 11px;
}

.position-calc .solar-battery {
  position: absolute;
  right: 11px;
}

.position-calc .top-space {
  margin-top: 76px;
}
